<div class="container my-4">
  <div class="row">
    <div class="col-md-10 container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h3 class="font-weight-bold">Indah Oesadi</h3>
        </div>
        <div class="col-md-3">
          <p>Lead Conversion</p>
          <p>Ration-> 0:1</p>
        </div>
        <div class="col-md-3">
          <strong>Order</strong>
          <p>Repeat -> 0</p>
          <p>New -> 0</p>
        </div>
        <div class="col-md-3">
          <strong>Lead Status</strong>
          <p>No Progress -> 0</p>
          <p>Need Follow Up -> 0</p>
        </div>
      </div>
      <!--  -->
      <div class="row">
        <div class="col-md-3">
          <div class="card bg-grid">
            <div class="card-body">
              <h5 class="card-title">Lead</h5>
              <div class="d-flex justify-content-between">
                <h1>00</h1>
              </div>
              <p class="invisible">IDR 0</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-grid">
            <div class="card-body">
              <h5 class="card-title">Qualified Lead</h5>
              <div class="d-flex justify-content-between">
                <h1>00</h1>
              </div>
              <p>IDR 1.877.500.000</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-grid">
            <div class="card-body">
              <h5 class="card-title">Proposal</h5>
              <div class="d-flex justify-content-between">
                <h1>00</h1>
              </div>
              <p>IDR 0</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-grid">
            <div class="card-body">
              <h5 class="card-title">Negotiation</h5>
              <div class="d-flex justify-content-between">
                <h1>00</h1>
              </div>
              <p>IDR 0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 card bg-grid">
      <h4>Win / MO</h4>
      <div class="d-flex justify-content-between">
        <h3>00</h3>
        <i class="fas fa-caret-up icon-wrap"></i>
      </div>
      <p>IDR 0</p>
      <div class="d-flex justify-content-between">
        <span>Q1</span>
        <b>00</b>
        <i>Dealt</i>
      </div>
      <div class="d-flex justify-content-between">
        <span>Q2</span>
        <b>00</b>
        <i>Dealt</i>
      </div>
      <div class="d-flex justify-content-between">
        <span>Q3</span>
        <b>00</b>
        <i>Dealt</i>
      </div>
      <div class="d-flex justify-content-between">
        <span>Q4</span>
        <b>00</b>
        <i>Dealt</i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row mt-4">
    <div class="col-md-11 card bg-grid p-4">
      <div class="row">
        <div class="col-md-1 p-0">
          <br />
          <h6 style="font-size: 0.9rem">
            Conversion <br />
            Rate
          </h6>
          <br />
          <h6>Average Duration</h6>
        </div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-3 text-center">
              <div class="d-flex w-100 justify-content-center">
                <canvas class="d-1 mx-auto w-50 d-flex"> </canvas>
              </div>
              <h4>
                <p><b>00</b> Days</p>
              </h4>
              <div class="d-flex justify-content-around">
                <div>
                  <p><b>00</b> Days</p>
                  <i>Longest</i>
                </div>
                <div>
                  <p><b>00</b> Days</p>
                  <i>Shortest</i>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div class="d-flex w-100 justify-content-center">
                <canvas class="d-2 mx-auto w-50 d-flex"> </canvas>
              </div>
              <h4>
                <p><b>00</b> Days</p>
              </h4>
              <div class="d-flex justify-content-around">
                <div>
                  <p><b>00</b> Days</p>
                  <i>Longest</i>
                </div>
                <div>
                  <p><b>00</b> Days</p>
                  <i>Shortest</i>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div class="d-flex w-100 justify-content-center">
                <canvas class="d-3 mx-auto w-50 d-flex"> </canvas>
              </div>
              <h4>
                <p><b>00</b> Days</p>
              </h4>
              <div class="d-flex justify-content-around">
                <div>
                  <p><b>00</b> Days</p>
                  <i>Longest</i>
                </div>
                <div>
                  <p><b>00</b> Days</p>
                  <i>Shortest</i>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div class="d-flex w-100 justify-content-center">
                <canvas class="d-4 mx-auto w-50 d-flex"> </canvas>
              </div>
              <h4>
                <p><b>00</b> Days</p>
              </h4>
              <div class="d-flex justify-content-around">
                <div>
                  <p><b>00</b> Days</p>
                  <i>Longest</i>
                </div>
                <div>
                  <p><b>00</b> Days</p>
                  <i>Shortest</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="card text-center bg-grid">
        <h6>Target</h6>
      </div>
    </div>
  </div>
</div>
